@import 'antd/dist/antd.css';

$primary : rgb(25, 121, 254);

.main-body{
    min-height: 85vh;
}

a {
    &:hover {
        color: $primary  !important;
    }
}

footer {
    background-color: $primary  !important;
}