@import 'antd/dist/antd.css';

$primary : rgb(25, 121, 254);

.main-body {
    min-height: 85vh;
}

a {
    &:hover {
        color: $primary  !important;
    }
}

footer {
    background-color: $primary  !important;
}

.map-container {
    height: 70vh;
}

.mycarosal{
    height: 21rem;
}

.myBtnCard {
    &:hover {
        background-color: $primary !important;
        transition: all .4s;
    }
}